$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

$checkbox-radius: 30px;
$gap-left: 2 * $checkbox-radius;
$border-radius: 10px;

$primary-gray: #121212;
$primary-white: #ffffff;
$secondary-gray: #1d1d1d;
$accent-color: #ff8000;
$accent-color-secondary: #b55a00;

$opacity-inactive: 0.8;
$opacity-active: 1.0;

$header-font-family: 'PT Serif', 'Times New Roman', Times, serif;
$paragraph-font-family: 'Inter', Arial, Helvetica, sans-serif;

$font-header: 400 32px/1.4 $header-font-family;
$font-paragraph: 300 16px/1.4 $paragraph-font-family;
