$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

$paragraph-font-family: 'Inter', Arial, Helvetica, sans-serif;

$font-paragraph-regular: 300 16px/1.4 $paragraph-font-family;
