@import '/src/shared/ui/variables.scss';

$tick-img-src: './assets/tick.svg';

.todo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  font: $font-paragraph;
  opacity: $opacity-inactive;
  background-color: $secondary-gray;
  box-shadow: 0 0 1px 1px rgba($primary-white, 0.3);
  user-select: none;

  @media (min-width: $tablet-min-width) {
    border-radius: $border-radius;
  }
}

.todo-item:first-child {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  @media (min-width: $tablet-min-width) {
    border-radius: $border-radius;
  }
}

.todo-item:last-child {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  @media (min-width: $tablet-min-width) {
    border-radius: $border-radius;
  }
}

.input {
  display: none;
}

.description {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: $gap-left;
  padding-right: 5px;
  cursor: pointer;

  @media (min-width: $tablet-min-width) {
    padding-left: 3 * $checkbox-radius;
    padding-right: 20px;
  }
}

.description::before {
  content: '';
  position: absolute;
  left: 0.5 * $checkbox-radius;
  width: $checkbox-radius;
  min-width: $checkbox-radius;
  aspect-ratio: 1;
  border: 1px solid rgba($primary-white, 0.8);
  border-radius: 50%;

  @media (min-width: $tablet-min-width) {
    left: $checkbox-radius;
  }
}

.todo-item-completed {
  .description {
    text-decoration: line-through;
  }

  .description::before {
    background: url($tick-img-src) no-repeat center;
  }
}

.todo-item:hover,
.todo-item:focus-visible {
  box-shadow: 0 0 0 1px $accent-color;
  outline: none;
}
