@import '/src/shared/ui/variables.scss';

.page,
.page-body {
  height: 100%;
}

.page-body {
  padding: 0 5%;
  color: $primary-white;
  background-color: $primary-gray;
}

/* Устранение выпадения верхнего отступа */
.page-body::before {
  content: '';
  display: block;
  overflow: hidden;
}
