@import '/src/shared/ui/variables.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 20px auto;
  color: rgba(#000000, 0.75);

  @media (min-width: $tablet-min-width) {
    margin: 30px auto;
  }
}

.pre-title {
  font: $font-paragraph;
  font-size: 12px;
  font-style: italic;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
  }
}

.title {
  margin: 0;
  font: $font-header;

  @media (min-width: $tablet-min-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 48px;
  }
}
